* { 
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: "Poppins",
  sans-serif;
}
:root{
    --bg_color:#242F9B;
    --bn_color:#646FD4;
    --color2:#9BA3EB;
    --color3:#DBDFFD;
  }
/* 

==========================
-       Reset Styles
==========================

*/
ul{
    display: flex;
    list-style-type:none;
    gap: 3rem;
    margin-left: 5rem;
}
a{
    color: #000;
    text-decoration-line: none;
}
body {
    min-height: 100vh;
    background: var(--bn_color);
    font-size: 10px;
}
.container{
    margin: 0 4rem;
}
/* 

==========================
-       header
==========================

*/
.header{
    background-color: var(--color2);
    border-radius: 0rem 0rem 5rem 5rem;
    position: fixed;
    top: 0;
    width: 100%;
    transition: all 150ms ease-out;
    z-index: 1;
    box-shadow: 0  0 .7rem .3rem rgba(36, 47, 155, 50%);
}
.header-content{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem 0;
    font-size: 1rem;
}
.main-nav{
    display: flex;
    align-items: center;
    gap: 8rem;
}
.logo{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .5rem;
}
li  :hover{
    border-bottom: .2rem solid #1D267D;
    transition: all 95ms ease-out;
}
.button-login{
    padding: .5rem 2rem;
    background-color: #1D267D;
    color: #FFF;
    border: none;
    border-radius: .3rem;
    cursor: pointer;
}
.button-login:hover{
    background-color: #0C134F;
}
/* 

==========================
-       main
==========================

*/
.main{
    display:flex; 
}
/* 

==========================
-       main information
==========================

*/
.main_information{   
    width: 20rem;
    height: 100vh;
    padding: 8rem 4rem 0 4rem;
    background-color: var(--color3);
    position: sticky;
    top: 0;
    margin-top: 0;
    box-shadow: 0  1rem .7rem .3rem rgba(36, 47, 155, 50%) inset;
}
.user{

}
.user_photo{
    margin-left: 1rem;
    background-image: url(../Icons/person.png);
    background-color: var(--color2);
    background-repeat: no-repeat;
    background-size: cover;
    width: 11rem;
    height: 11rem;
    border-radius: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
}
.user_photo--img{
    
    
    height: 11rem;
    border-radius: 100%;
     
}
.text-style{
    color: #000;
    font-size: .8rem;
    margin-bottom: 1rem;
}
.user_name{
    margin-top: 2rem;
}
.user_type{

}
.user_membership{

}
.user_number{

}
.user_new{
    display: flex;
    justify-content: center;
}
.user_new--btn{
    padding: .5rem 2rem;
    background-color: var(--bg_color);
    color: #fff;
    border: none;
    border-radius: .3rem;
    cursor: pointer;
    
}
/* 

==========================
-       main articles
==========================

*/
.main_articles{
    padding: 9rem 2rem 2rem 2rem;
    display: flex;
    flex-wrap: wrap;
    gap: 3rem;
}
.article{
    width:16rem ;
    min-height: 16rem;
    background-color: var(--color3);
    border-radius: 2rem;
    display: flex;
    align-items: left;
    flex-direction: column;
    padding: 1rem;
    gap: .8rem;
    color: #000;
    box-shadow: 0  0 .7rem .3rem rgba(36, 47, 155, 50%);
}
.article:hover{
    transition: all 150ms ease-in-out;
    transform: scale(1.05);
}
.article p{
    margin-bottom: -.5rem;

}
.article_photo{
    border-radius: 2rem;
}
.article_image--img{
    width: 14rem;
    border-radius: 1rem;
}
.article_sbject{

}
.article_summary{
    max-height: 2rem;
    width: 14rem;    
    overflow: hidden;
    text-overflow: ellipsis;
}
.summery_dot{
display: flex;
}
.dot3{
    margin-top: 1rem;
}
.article_Continuation{
color: #1D267D;
}
/* 

==========================
-       footer
==========================

*/
.footer{
    width: 100%;
    background-color: var(--color2);
    padding: 2rem 4rem;
    box-shadow: 0  0 .7rem .3rem rgba(36, 47, 155, 50%);
    display: flex;
    justify-content: space-evenly;
}
.logo_footer{
    width: 3rem;
}
.footer_developer{
    display: flex;
    flex-direction: column;
    gap: .7rem;
    font-size:.7rem;
}
.footer--h3{
    margin-bottom: 1rem;
    font-size:.9rem;
}
.about-us{
    max-width: 22rem;
}
.footer_copyR{
    margin-top: 3.6rem;
    font-size: .8rem;
}












