:root{
  --bn_color:#242F9B;
  --bg_color:#646FD4;
  --color2:#9BA3EB;
  --color3:#DBDFFD;
}
a{
  color: #000;
  text-decoration-line: none;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins",
    sans-serif;
}
body {
  padding-top: 2rem;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: var(--bg_color);
}
.main{

  background-color:var(--color3);
  gap:1rem;
  border-radius: 1.5rem;
  width: 90%;
  
}
form{
display: flex;
align-items: center;
flex-direction: column;
padding-block: 2rem;
gap: 2rem;
}
.style_input-image{
  display: flex;
  gap: 3rem;
  justify-content: center;
}
.input-image{
  color: #242F9B;
  
}
.style_input-text{
  border-top: solid  #000 .2rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 1rem;
}
.input-text{
  width: 80%;
  height: 2.5rem;
  
}
.style_textarea{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
textarea{
  width: 80%;
  height: 14rem;
  resize: none;
}
.input_submit{
  width:12rem ;
  height: 2.5rem;
  cursor: pointer;
  background-color: var(--bn_color);
  color: #fff;
  border: none;
  border-radius: .3rem;
  font-size: 1rem;
}
/* 

==========================
-       footer
==========================

*/
.footer{
  width: 100%;
  background-color: var(--color2);
  padding: 2rem 4rem;
  box-shadow: 0  0 .7rem .3rem rgba(36, 47, 155, 50%);
  display: flex;
  justify-content: space-evenly;
  margin-top: 2rem;
}
.logo{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: .5rem;
}
.logo_footer{
    width: 3rem;
}
.footer_developer{
  display: flex;
  flex-direction: column;
  gap: .7rem;
  font-size:.7rem;
}
.footer--h3{
  margin-bottom: 1rem;
  font-size:.9rem;
}
.about-us{
  max-width: 22rem;
  font-size: .8rem;
}
.footer_copyR{
  margin-top: 3.6rem;
  font-size: .8rem;
}
